DEBUG=True
SECRET_KEY=django-insecure-papillon-secret-key-2025
DB_ENGINE=django.db.backends.mysql
DB_NAME=papillon
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=127.0.0.1
DB_PORT=3306

OUTLOOK_CLIENT_ID=later
OUTLOOK_CLIENT_SECRET=later
OUTLOOK_TENANT_ID=later
ENCRYPTION_KEY= #python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())